[submodule "src/assist-gs"]
	path = src/assist-gs
	url = https://github.com/BigCiLeng/assist-gs.git
[submodule "src/cutie"]
	path = src/cutie
	url = https://github.com/hkchengrex/Cutie.git
[submodule "src/sampro3d"]
	path = src/sampro3d
	url = https://github.com/BigCiLeng/sampro3d.git
